@font-face {
  font-family: "Baloo";
  src: url("../fonts/BalooBhaina-Regular.svg") format("svg"), url("../fonts/BalooBhaina-Regular.woff2") format("woff2"), url("../fonts/BalooBhaina-Regular.woff") format("woff"), url("../fonts/BalooBhaina-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.svg") format("svg"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"); }
* {
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

h1, h2, h3, h4 {
  font-family: "Baloo", sans-serif;
  font-weight: normal; }

body {
  font-family: "Lato", sans-serif; }

main {
  padding-top: 80px; }

.center {
  text-align: center; }

.form-style {
  position: relative;
  padding: 5px;
  width: 600px;
  background: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 8px;
  margin: 0 auto; }
  .form-style div {
    float: left;
    width: 40%;
    margin: 30px 2.5%; }
  .form-style input {
    padding: 4px 4px;
    border: 1px solid #c8c8c8;
    height: 15px;
    margin-bottom: 8px;
    width: 225px;
    border-radius: 4px; }
  .form-style select {
    padding: 4px 0;
    border: 1px solid #c8c8c8;
    height: 25px;
    margin-bottom: 8px;
    width: 235px;
    background: #fff; }
  .form-style button {
    font-family: "Lato", sans-serif;
    color: #fff;
    background: #009cff;
    width: auto;
    border: 1px solid #c8c8c8;
    padding: 5px 8px;
    font-size: 16px;
    margin: 5px auto;
    cursor: pointer;
    transition: all ease .5s;
    border-radius: 4px; }
  .form-style button:hover {
    color: #000;
    background: #fff;
    transition: all ease .5s; }
  .form-style input:focus, .form-style button:focus {
    outline: none; }
  .form-style label, .form-style input, .form-style button, .form-style select {
    display: block; }
  .form-style label {
    padding-top: 4px;
    padding-bottom: 10px; }

.close-form {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 15px;
  cursor: pointer; }

button {
  color: #fff;
  font-family: "Lato", sans-serif;
  background: #009cff;
  width: auto;
  border: 1px solid #c8c8c8;
  padding: 5px 8px;
  font-size: 16px;
  margin: 5px auto;
  cursor: pointer;
  transition: all ease .5s;
  border-radius: 4px; }

button:hover {
  color: #000;
  background: #fff;
  transition: all ease .5s; }

.form-labels {
  text-align: right;
  padding-right: 2px; }

button:focus, select:focus, input:focus, textarea:focus {
  outline: none; }

.welcome-header {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  background: linear-gradient(rgba(218, 200, 169, 0.3), rgba(218, 200, 169, 0.3)), url("../img/home-bg.jpg") fixed no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: -1; }
  .welcome-header h2, .welcome-header h4 {
    color: #fff;
    font-weight: normal;
    text-shadow: 2px 2px 3px gray; }
  .welcome-header h2 {
    font-size: 46px; }
  .welcome-header h4 {
    margin-bottom: 40px;
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-style: italic; }
  .welcome-header button {
    font-size: 26px;
    padding: 8px 12px; }

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background: #009cff;
  align-items: center;
  box-shadow: 0 2px 5px gray;
  z-index: 3; }
  nav > div {
    text-align: center; }
  nav h1 {
    font-size: 42px;
    font-weight: normal;
    text-shadow: 2px 2px 5px gray; }
  nav a {
    text-decoration: none;
    color: #fff; }

.searchbar {
  width: 220px;
  position: relative;
  margin: 0 auto; }
  .searchbar input {
    background: #FFF;
    font-size: 18px;
    width: 100%;
    border: 1px solid #92959c;
    border-radius: 20px;
    padding: 5px 8px;
    box-shadow: 2px 2px 5px gray; }
  .searchbar img {
    position: absolute;
    right: 0px;
    top: 5px;
    height: 20px; }

.flex-container {
  width: 100%;
  padding: 0 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 480px) {
    .flex-container {
      flex-direction: row;
      padding: 0; } }

.flex-cell-1-2 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-1-2 {
      width: 49%; } }

.flex-cell-1-3 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-1-3 {
      width: 32%; } }

.flex-cell-2-3 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-2-3 {
      width: 65%; } }

.flex-cell-1-4 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-1-4 {
      width: 24%; } }

.flex-cell-3-4 {
  width: 100%; }
  @media (min-width: 480px) {
    .flex-cell-3-4 {
      width: 74%; } }

.flex-cont-vertical-center {
  display: flex;
  align-items: center; }

.flex-right {
  justify-content: flex-end; }

h2 {
  text-align: center; }

.location-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  .location-container h2 {
    color: #fff;
    text-shadow: 2px 2px 3px gray; }
  .location-container div {
    border: 0px solid #000;
    border-radius: 5px;
    height: 210px;
    width: 230px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 0px 5px gray;
    margin-bottom: 50px;
    transition: all .2s ease;
    padding-top: 20px; }
  .location-container div:hover {
    box-shadow: 1px 1px 8px darkgray, -1px -1px 8px darkgray; }

.location-header {
  margin-top: -100px;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-content: center;
  align-items: center; }
  .location-header h2 {
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 2px gray;
    width: 100%; }

.location-events h2 {
  text-align: left; }
.location-events div {
  width: 100%; }
.location-events h4 {
  font-family: "Lato", sans-serif; }
.location-events img {
  float: right;
  height: 150px;
  width: 150px; }

.location {
  width: 175px;
  height: 175px;
  background-size: cover;
  background-position: center;
  cursor: pointer; }

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

body {
  background-color: white; }

.event_index {
  border-bottom: 1px solid black;
  box-shadow: 5px 5px 5px #888888; }

.title {
  border: 1px solid black;
  width: 20%;
  padding: 10px;
  background-color: blue;
  opacity: 0.5;
  color: white;
  margin-left: 100px; }

.posts {
  border-bottom: 2px, solid black; }

.container {
  margin: auto;
  width: 60%;
  border: 1px solid white;
  background-color: white; }

.centered-container {
  max-width: 800px;
  padding: 8px 8px;
  margin: 0 auto; }

.current-image-box {
  width: 80%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  border: 1px solid rgba(200, 200, 200, 0.4);
  border-radius: 5px;
  position: relative; }

.default-image {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-top: 10%; }
  .default-image h2 {
    font-size: 56px;
    color: rgba(200, 200, 200, 0.4);
    text-align: center; }

.current-image-info {
  text-align: left;
  width: 80%;
  padding: 10px 0;
  margin: 0 auto;
  height: 50px;
  position: relative;
  overflow: hidden; }

.current-image-edit {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  left: 100%;
  top: 0;
  height: 100%;
  background: #fff;
  transition: all .5s ease; }
  .current-image-edit input {
    padding: 4px 4px;
    border: 1px solid black;
    height: 15px;
    margin-bottom: 8px;
    width: 200px;
    border-radius: 4px; }
  .current-image-edit button {
    width: 70px;
    border: 1px solid #000;
    padding: 5px 8px;
    font-size: 16px;
    margin: 5px 10px;
    cursor: pointer;
    transition: all ease .5s;
    border-radius: 4px; }
  .current-image-edit button:hover {
    background: #fff;
    transition: all ease .5s; }
  .current-image-edit input:focus, .current-image-edit button:focus {
    outline: none; }
  .current-image-edit input, .current-image-edit button {
    display: inline; }

.current-image-edit-active {
  left: 0;
  transition: all .5s ease; }

.image-slide-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 8px 0; }
  .image-slide-box img {
    height: 70px;
    width: 70px;
    margin: 0 3px;
    cursor: pointer; }

.add-photo-form {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(60, 60, 60, 0.8);
  display: flex;
  align-items: center;
  justify-content: center; }

.event-form-col {
  height: 380px; }

/*# sourceMappingURL=main.css.map */
