.event-show {
  margin-top: 50px;
  border: 1px solid $lightgray;
  padding:8px;
  border-radius: 5px;
  background: #fff;
  position: relative;
  z-index: 1;
  h2 {
    width: 100%;
    border-bottom: 1px solid $skyblue;
    margin-bottom: 20px;
  }
  h3 {
    text-transform: capitalize;
    font-family: $body-font;
    margin-bottom: 3px;
    span {
      font-weight: bolder;
    }
    a {
      text-transform: lowercase;
      color: $skyblue;
    }
  }
  img {
    border: 1px solid $lightgray;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.maps-link {
  text-transform: capitalize !important;
}

.event-form-col {
  height: 380px;
}
.comment-box {
  z-index: 0;
  background: #fff;
  margin-top: -15px;
  width: 100%;
  border: 1px solid $lightgray;
  border-radius: 5px;
  padding: 8px;
  h2 {
    padding-top: 15px;
    border-bottom: 1px solid $skyblue;
    width: 100%;
  }
}

.comments {
  height: auto;
  overflow: hidden;
  transition: height .8s ease;
  padding: 20px 0;
  h4 {
    margin-bottom: -4px;
  }
  h5 {
    border-bottom: 1px dashed $lightgray;
    padding-bottom: 6px;
  }
}

.comment-collapsed {
  height: 0px;
  transition: height .8s ease;
  padding: 0;
}

.comment-arrow {
  margin: 10px auto 5px auto;
  width: 40px;
  cursor: pointer;
}

.comment-form {
  input {
    padding: 4px 4px;
    border: 1px solid $lightgray;
    height: 15px;
    margin-bottom: 8px;
    width: 225px;
    border-radius: 4px;
    display: block;
  }
  textarea {
    margin-top: 10px;
    padding: 4px 4px;
    border: 1px solid $lightgray;
    height: 15px;
    margin-bottom: 8px;
    border-radius: 4px;
    width: 425px;
    height: 100px;
  }

}
