<<<<<<< HEAD
// body {
//   background-color: $dark-red;
// }

h2{
 display: flex;
 justify-content: center;
}

.Firstpics {
   display: flex;
   justify-content: center;
   justify-content: space-around;
   padding-bottom: 40px;
   padding-left: 50px;

}

.Secondpics {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-bottom: 40px;
  padding-left: 50px;

}

.Washington {
  background-image: url("../img/locations/washdc.jpg");
  background-size: cover;
  height: 175px;
  width: 150px;
}

.Newyork {
  background-image: url("../img/locations/nyc.jpg");
  background-size: cover;
  height: 175px;
  width: 150px;
}

.Boston {
  background-image: url("../img/locations/boston.jpg");
  background-size: cover;
  height: 175px;
  width: 150px;
}

.Sanfrancisco {
  background-image: url("..img/locations/sanfran.jpg");
  background-size: cover;
  height: 175px;
  width: 150px;
}

.Austin {
  background-image: url("../img/locations/austin.jpg");
  background-size: cover;
  height: 175px;
  width: 150px;
}

.Chicago {
  background-image: url("../img/locations/chicago.jpg");
  background-size: cover;
  height: 175px;
  width: 150px;
=======
.location {
  width: 175px;
  height: 175px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
>>>>>>> 4a37a5e86ec9123b008ee562b72ccd49864a4247
}
