<h2>Edit Location</h2>

<form ng-submit="vm.updateLocation()">
  <!--remove once rails connected  -->
  <input type="text" placeholder="Id" ng-model="vm.location.id">
  <!--  -->
  <input type="text" placeholder="City" ng-model="vm.location.city">
  <input type="text" placeholder="State" ng-model="vm.location.state">
  <input type="text" placeholder="Country" ng-model="vm.location.country">
  <input type="text" placeholder="Image" ng-model="vm.location.img_url">
  <button type="submit">Update Location</button>
</form>
