<section class="cookie-box" ng-class="{'cookie-box-active': compassActive}">
  <h3><a ui-sref="locationIndex">All Locations</a></h3>
</section>

<section class="location-header flex-container" style="background-image: {{vm.setUrl(vm.location.img_url)}}">
  <h2>{{vm.location.city }}, {{vm.location.state}}</h2>
</section>

<!-- <div>
  <input type="checkbox" ng-model="filter['dining']" />Dining
  <input type="checkbox" ng-model="filter['entertainment']" />Entertainment
  <input type="checkbox" ng-model="filter['sports']" />Sports
  <input type="checkbox" ng-model="filter['culture']" />Culture
  <input type="checkbox" ng-model="filter['activities']" />Activities
</div> -->

<section class="centered-container">

  <div class="flex-container">
    <div class="flex-container location-events" ng-repeat="event in vm.events | filter: {location_id: vm.location.id, name: searchFilter}">
      <div class="event-info">
        <h2 ui-sref="eventShow({id: event.id})"><span class="blue-underline">{{event.name}}</span></h2>
        <h4><span>Address:</span>  {{event.address}}</h4>
        <h4><span>Category:</span>  {{vm.uppercase(event.category)}}</h4>
        <h4><span>Phone:</span>  {{event.phone_number}}</h4>
        <h4><span>Website:  </span><a href="{{event.website_url}}">{{event.website_url}}</a></h4>
      </div>

      <div class="event-img">
        <img ui-sref="eventShow({id: event.id})" ng-src="{{event.img_url}}">
      </div>

    </div>
  </div>

  <button ui-sref="eventNew({id: vm.location.id})">Add Event</button>
  <button ui-sref="locationEdit({id: vm.location.id})">Edit Location</button>

</section>
