<!-- <html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/lib/w3.css">
<style>
.mySlides {display:none;}
</style>
<body>


<h2 class="w3-center">Automatic Slideshow</h2>

<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src="img_la.jpg" style="width:100%">
  <img class="mySlides" src="img_ny.jpg" style="width:100%">
  <img class="mySlides" src="img_chicago.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

</body>
</html>



<!-- <div class ="header">
  <div class ="title">
  <h2>All Events</h2>
  </div>
</div> -->



<div class ="container">



<div class ="event_index" ng-repeat="event in vm.events">
  <h2><a ui-sref="eventShow({id: location.id})">{{event.name}}</a></h2>
=======
<div id="event-nav-filter">
  <input type="checkbox" ng-model="filter['dining']" />Dining
  <input type="checkbox" ng-model="filter['entertainment']" />Entertainment
  <input type="checkbox" ng-model="filter['sports']" />Sports
  <input type="checkbox" ng-model="filter['culture']" />Culture
  <input type="checkbox" ng-model="filter['activities']" />Activities
</div>

<!-- <div class="event_index" ng-repeat="event in vm.events"> -->
<div class="event_index" ng-repeat="event in vm.events" ui-sref="eventShow({id: event.id})";>
  <h2><a ui-sref="eventShow({id: event.id})">{{event.name}}</a></h2>
    <p>{{event.date}}, {{event.time}}</p>
    <p>About:{{event.description}}</p>
    <p>Popularity: {{event.rating}}</p>


<button ui-sref="eventNew">Add an Event</a>
</div>
</div> -->
