<div id="event-nav-filter">
  <input type="checkbox" ng-model="filter['Dining']" />Dining
  <input type="checkbox" ng-model="filter['entertainment']" />Entertainment
  <input type="checkbox" ng-model="filter['sports']" />Sports
  <input type="checkbox" ng-model="filter['culture']" />Culture
  <input type="checkbox" ng-model="filter['activities']" />Activities
</div>

<h2>{{vm.event.name }}</h2>

<div class="event_show">
  <h2>{{ vm.event.name }}</h2>
  <a ui-sref="eventEdit({id: vm.event.id})">Edit</a>
  <div>
  <!-- <img ng-src="vm.event.img_url"> -->
  <!-- Need to add the remainder of the show fields and decide on structure. CJ -->
  </div>
</div>
