<section class="centered-container">

  <div class="event_show">
  <h2>{{ vm.event.name }}</h2>

  <hr>

  <div>
    <h3>{{ vm.event.address }}</h3>
    <h3>{{ vm.event.phone_number }}</h3>
    <h3><a href="{{vm.event.website_url}}">{{vm.event.website_url}}</a></h3>
    <h3>{{ vmevent.date }}</h3>
    <h3>{{ vm.event.time }}</h3>
    <h3>Category: {{ vm.event.category }}</h3>
  </div>
  <img class="events_show_img" ng-src="{{vm.event.img_url}}">
  <div>
    <h4>{{ vm.event.description }}</h4>
  </div>

  <button ui-sref="photosIndex({event_id: vm.event.id})">View Photos</button>
  <button ui-sref="eventEdit({id: vm.event.id})">Edit Event</button>

</section>

<section class="comments-form" ng-show="newCommentsActive">
<div ng-repeat= "comment in vm.comments">
<h3>{{comment.title}}</h3>
</div>
  <form class="form-style" ng-submit="vm.addComment()">
    <div class="form-labels">
      <label>Title</label>
      <label>Comment</label>
    </div>
    <div class="form-inputs">
      <input type="text" placeholder="Title" ng-model="vm.comment.author">
      <input type="text" placeholder="Comment" ng-model="vm.comment.comment">
    </div>
    <button type="submit">Add Comment</button>
  </form>
</section>
